<mat-toolbar color = "primary">
    <mat-toolbar-row>
        <h1>Sistema Venta</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode ="side" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item routerLink="/pages/dashboard">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <div mat-line>DashBoard</div>
               
            </mat-list-item>

            <mat-list-item routerLink="/pages/usuario" >
                <mat-icon matListItemIcon>group</mat-icon>
                <div mat-line>Usuarios</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/producto" >
                <mat-icon matListItemIcon>collections_bookmark</mat-icon>
                <div mat-line>Productos</div>
            </mat-list-item>
 
            <mat-list-item routerLink="/pages/venta" >
                <mat-icon matListItemIcon>currency_exchange</mat-icon>
                <div mat-line>Venta</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/historial_venta" >
                <mat-icon matListItemIcon>edit_note</mat-icon>
                <div mat-line>Historial Ventas</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/reportes" >
                <mat-icon matListItemIcon>receipt</mat-icon>
                <div mat-line>Reportes</div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
        <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>