<mat-card style="margin: 20px 40px 40px 40px;">
        <mat-card-title>
           <button mat-raised-button color="primary" (click)="nuevoUsuario()">
                <mat-icon mat-list-icon>add</mat-icon>Nuevo usuario
           </button> 
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content class="dashboard-card-content">
            <mat-form-field MatFormFieldControl >
                <mat-label>Buscar</mat-label>
                <input matInput (keyup) ="aplicarFiltroTabla($event)" #input>
            </mat-form-field>
<div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataListaUsuarios" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="rolDescripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.rolDescription}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.esActivo == 1 ? 'Activo' : 'No activo'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;"></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editarUsuario(element)">
                    <mat-icon >edit</mat-icon>
               </button> 
               <button mat-icon-button color="warn" (click)="eliminarUsuario(element)">
                <mat-icon >delete</mat-icon>
           </button> 
            </td>
          </ng-container>
          
        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>

        <tr  class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidas con el filtro{{input.value}}</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

      </mat-paginator>
</div>

        </mat-card-content>
    </mat-card>


  
  